## State Summary
- State AGI: ${{ case.state_return["state_agi"] }}
- Standard Deduction: ${{ case.state_return["standard_deduction"] }}
- Taxable Income: ${{ case.state_return["taxable_income"] }}
- Total Tax: ${{ case.state_return["total_tax"] }}
- Total Payments: ${{ case.state_return["total_payments"] }}
- Refund: ${{ case.state_return["refund"] }}
- Balance Due: ${{ case.state_return["balance_due"] }}